/* Start of CSS*/
*{
	margin: 0;
	padding:0;
}
.heading{
	background: #292059;
	color: white;
	height: 4rem;
	font-weight: 800;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}
.progress_bar_and_timer	 {
	background-color: #a0a1ca;
	color: #292059;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.number_of_questions {
	font-weight: 700;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.progress_bar {
	background-color: #eff3ff;
	width: 35rem;
	height: 1.4rem;
}

.number_of_questions_attempted {
	background-color: #74ed31;
	width: 13%;
	height: 1.4rem;
}
.question_indicator {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 1.8rem 3.8rem;
}

.questions {
	height: 3rem;
	width: 3rem;
	font-weight: 700;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eff3ff;
	color: #292059;
	border-radius: 80%;
}

#question1_color {
	background-color: #292059;
	color: white;
}
.question_number_1{
	font-size: 1.2rem;
	color: #292059;
	margin: 0 3rem;
	line-height: 2.1rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.conetent_of_the_question{
	line-height: 2rem;
}
.options {
	margin: 2rem 2rem;
	color: #292059;
	font-size: large;
	cursor:pointer;
}
.optiona {
	border: 0.1rem solid #a0a1ca;
	border-radius: 0.8rem;
	height: 2.9rem;
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: italic;
}
.option {
	width: 70%;
	display: flex;
	justify-content: space-between;
}
#question_1_and_2{
	margin-bottom:1.7rem;
}
.buttons{
	color: #eff3ff;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.button{
	background-color: #292059;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.5em;
	width: 10%;
	border-radius: 0.8rem;
	margin-bottom: 3.5em;
	cursor: pointer;
	font-style: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}
/* End of CSS*/